@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

 /*------------- Whole Document---------------- */

body {
    font-family: 'Open Sans';
    font-size: 13.5px;
    color: #000000;
}

a:hover {
    color: #ff5800; /* color when hovering */
  }
